// Base

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

body {
  padding: 0;  
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--body-font-family);
  font-weight: 300;
  background: var(--body-bg);
  height: 100vh;
}

img {
  max-width: 100%;
  max-height: 100%;
}


// headings ------------
h1,h2,h3,h5,h6 {
  margin: 0 0 .5em;
  color: var(--heading-color);
  font-family: var(--header-font-family);
  font-weight: 700;
}

// links ---------------
a {
  color: var(--link-color);
}


// app splash screen -------
.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: flex;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  .app-logo {
    width: 180px;
    display: block;
    margin-bottom: 1em;
  }
}


// helper classes ---------
.calign {
  text-align: center;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

// generic-entry ------------
.generic-entry {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}

// root ---------------
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  overflow: hidden;
}

// page --------------------
.page-body {
  position: absolute;
  top: calc(var(--app-header-height)*1.25);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll; 
  &.no-pad {
    padding: 0;
  }
}

.addItemBtn{
  left: 40%;
}

.page-content{
  margin: 0 13em;
  padding: 1em;
}

.page-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

  // Filtering on pages-------------------------
  .filter-menu{
    display: flex;
    align-items: center;
    margin-bottom: 0.8em;
    width:calc(100% - 1em);
  }

  .filter-menu > div {       
    margin-right: 1em;
  }
  .filter-search{
    display: flex;
    margin-right: 0.25em;
    align-items: center;
  }

  .filter-search > div {
    margin-right: 0.45em;
  }

  .filter-search > strong {
    margin-right: 0.45em;
  }

  .filter-btns{
    display: flex;
    width: 48%;
  }

  .filter-dropdown{
    margin-right: 1em;
  }

// sign in + sign up pages ----------
.signinup-box,
.signup-box {  
  max-width: 400px;
  text-align: center;
}

.signinup-logo {
  width: 300px;
  margin-bottom: 1em;
  right: 1em;
}
//intro page------------------------
#guide-img {
  width: 80%;
}

// guide page ---------------
.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;
  img {
    width: 100%;
    height: auto;
  }
  p {
    font-weight: 400;
    text-align: left;
    margin-bottom: 1.75em;
  }
}

//jobs page
.postings-grid{
  display: flexbox;
  flex-wrap: wrap;
  margin-bottom: 0.8em;
  .posting-card{
    width: calc(25% - 1em);
    margin: 0.5em;
  }

}

//creatives page
.creative-grid{
  display: flex;
  flex-wrap: wrap;
  .creative-card{
    width: calc(25% - 1.5em);
    margin: 0.75em;
  }

}

//creatives dialog
.creatives-dialog{
  --width: 70%;
}

.creatives-dialog::part(body){
  margin-top: -3em;
}
 

//postings dialog
.posting-dialog {
  --width:80%
}

.posting-dialog::part(body){
  margin-top: -4em
}

//profile page
.profile-grid{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .profile-section{
    width: calc(40% - 1em);
    margin: 0.5em;
  }
  #profileSocialsGrid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .portfolio-card{
    width: calc(23% - 1em);
    margin: 0.5em;
  }

}

// RESPONSIVE - IPAD -------------------
@media all and (max-width: 1024px){ 
  .page-content{
    margin: 0 3em;
  }

  .profile-grid{
    .portfolio-card{
      width: calc(45% - 0.25em);
      margin: 0.125em;
    }
    .profile-section{
      padding: 0em;
      margin: 0.25em;
      width: calc(100% - 0.5em);
    }
  }
  
  .creative-grid{
    .creative-card{
      width: calc(46% - 1em);
    }
  }

  .postings-grid{
    .posting-card{
      width: calc(47%-1em);
      margin: 0;
    }
  }
  
  #guide-img {
    width: 90%;
  }

  .addItemBtn{
    left: 35%;
  }
}
// RESPONSIVE - IPAD -------------------
@media all and (max-width: 769px){ 

  .signinup-box {
    width: 90%;
    max-width: none;
  }

  .page-body {
    top: 0;
  }

  .page-content{
    margin: 0 2em;
    padding: 0em;
  }

  .profile-grid{
    .profile-section{
      width: 100%;
      margin: 0;
    }
    
  }
  
  .creative-grid{
    .creative-card{
      width: calc(45% - 0.5em);
      margin: 0.25em;
    }
  }

  .filter-search{
    margin-right: 0.5em;
  }
  .filter-menu > div {
    margin-right: 1em;
  }

  .addItemBtn {
    left: 30%;
  }
  
}

// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 425px){
  .card__body{
    padding: 0;
  }

  .filter-menu{
    display: inline-block;
  }

  .filter-search{
    width: calc(100% - 0.1em);
    margin-right: 0.1em;
    margin-bottom: 0.5em;
  }

  .filter-search > strong {
    margin-right: 0.25em;
  }

  .filter-btns{
    width: 100%;
  }

  .filter-dropdown{
    margin-right: 0.5em;
  }

  .page-content{
    margin: 0 0.5em;
  }

  .profile-grid{
    .profile-section{
      width: 100%;
      margin: 0;
    }
    .portfolio-card{
      width: 100%;
      margin: 0 0 1em;
    }
  }

  .creative-grid{
    .creative-card{
      width: 100%;
      margin: 0 0 0.25em;
    }
  }

  .postings-grid{
    .posting-card{
      width: 100%;
      margin: 0;
    }
  }

  #guide-img {
    width: 100%;
  }

  .addItemBtn {
    left: 0;
  }
}