// Vars

:root {
  // base
  --base-txt-color: rgb(0, 0, 0);
  --heading-color: rgb(31, 31, 31);
  --body-font-family: 'Roboto', sans-serif;
  --header-font-family: 'Oswald', sans-serif;
  --body-bg: #fff;
  

  // colors  
  $brand-color: #D98116;
  $highlight-color: #2E5873;
  --brand-color: #{$brand-color};
  --link-color: #{$highlight-color};
  
  // app header
  --app-header-height: 60px;
  --app-header-txt-color: rgb(0, 0, 0);
  --app-header-title-font-size: 1em;
  --app-header-font-family: 'Oswald', sans-serif;

  // shoelace tokens
  // full list here:
  // https://github.com/shoelace-style/shoelace/blob/current/src/styles/base.scss
  --sl-color-primary-50: #f1f1f1;
  --sl-color-primary-100: #{lighten($brand-color, 40%)};
  --sl-color-primary-200: #{lighten($brand-color, 30%)};
  --sl-color-primary-300: #{lighten($brand-color, 20%)};
  --sl-color-primary-400: #{lighten($brand-color, 10%)};
  --sl-color-primary-500: #{$brand-color};
  --sl-color-primary-600: #{darken($brand-color, 10%)};
  --sl-color-primary-700: #{darken($brand-color, 20%)};
  --sl-color-primary-800: #{darken($brand-color, 30%)};
  --sl-color-primary-900: #{darken($brand-color, 40%)};
  --sl-focus-ring-color-primary: #{rgba($brand-color, 0.1)};

  --sl-color-info-50: #f1f1f1;
  --sl-color-info-100: #{lighten($highlight-color, 40%)};
  --sl-color-info-200: #{lighten($highlight-color, 30%)};
  --sl-color-info-300: #{lighten($highlight-color, 20%)};
  --sl-color-info-400: #{lighten($highlight-color, 10%)};
  --sl-color-info-500: #{$highlight-color};
  --sl-color-info-600: #{darken($highlight-color, 10%)};
  --sl-color-info-700: #{darken($highlight-color, 20%)};
  --sl-color-info-800: #{darken($highlight-color, 30%)};
  --sl-color-info-900: #{darken($highlight-color, 40%)};
  --sl-focus-ring-color-info: #{rgba($highlight-color, 0.1)};
}